.omega{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: 1.2s;
    z-index: -2;
    opacity: 0;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}
.omega.omegaOn{
    opacity: 1;
    z-index: 1;
}

.omega .omega_content{
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.omega::-webkit-scrollbar {
    display: none;
}
    

.omega .omega_banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: #3f271f;
    background: url('../assets/detail.omega.png');
}

.omega .omega_banner .content2 {
    height: 80%;
    max-width: 100vw;
    width: 1040px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: center;
    box-shadow: 0px 5px 30px 3px rgb(10, 10, 10);
    background-image: url('../assets/omega_box.png');
}

.omega .btn2 {
    max-width: 100px;
    max-height: 100px;
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
    background-color: rgb(87, 23, 23);
    transition: 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 60px;
    top: 70vh ;
    transform: rotate(135deg);
    
}

.main .btn2 img{
    width: 50%;
    height: 50%;
}

.omega .omega_box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.omega .omega_box1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* max-width: 1400px; */
    width: 90%;
    height: 100vh;
}

.omega .number{
    font-size: 12vw;
    font-style: oblique;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: rgb(90, 65, 65);
}

.omega .project_about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.omega .project_about li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.omega .project_about li span{
    margin: 10px 0;
    font-weight: 600;
    font-size: 1.5vw;
}

.omega .project_about li h3{
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: rgb(90, 65, 65);
    font-size: 1.5vw;
}


.omega .omega_box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 37vw;
    background-color: rgb(170, 123, 123);
    box-shadow:inset 0px 0px 5px 1px rgb(190, 190, 190);
    background: url('../assets/omega_img1.png') no-repeat center center / contain;
}
.omega .omega_box3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    flex-direction: column;
}

.omega .omega_box3 img{
    margin: 50px 0;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgb(190, 190, 190);
}

.omega .omega_box4 {
    width: 100%;
    padding: 200px 0;
    background: #fcfcfc;
    box-shadow:inset 0px 0px 5px 1px rgb(190, 190, 190);
}

.omega .omega_box4 > div{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.omega .omega_box4 > div > div{
    display: flex;
    justify-content: flex-start;
}

.omega .omega_box4 img {
    box-shadow: 0px 2px 20px 1px rgb(190, 190, 190);
    border-radius: 10px;
    max-width: 400px;
    width: 40%;
}

.omega .omega_box4 > div > div:nth-child(odd){
    justify-content: flex-end;
}



@media screen and (max-width: 768px){
    .omega .omega_banner{
        padding: 0 3%;
    }

    .omega .omega_banner .content2 {
        height: 90%;
        background-image: url('../assets/omega_box_m.png');
    }

    .omega .omega_box4 > div{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .omega .omega_box4 > div > div {
        justify-content: center;
        width: 50%;
    }

    .omega .omega_box4 img {
        width: 95%;
        height: 95%;
    }

    .omega .omega_box4 {
        padding: 50px 0;
    }

    .omega .omega_box4 > div > div:nth-child(odd){
        justify-content: center;
    }

    .omega .btn2 {
        width: 16.5vw;
        height: 16.5vw;
        right: 3vw;
        top: 80vh;
    }

    .omega .project_about{
        justify-content: space-around;
    }

    .omega .project_about li{
        width: 50%;
        height: 130px;
        text-align: center;
        justify-content: start;
    }

    .omega .project_about li span{
        font-size: 4vw;
    }
    
    .omega .project_about li h3{
        font-size: 4vw;
    }

    .omega .omega_box2{
        height: 180vh;
        background: url('../assets/omega_img_m1.png') no-repeat center center / cover;
    }
}