.thunder{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    transition: 1.2s;
    z-index: -2;
    opacity: 0;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
}
.thunder.thunderOn{
    opacity: 1;
    z-index: 1;
}

.thunder .thunder_content{
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.thunder::-webkit-scrollbar {
    display: none;
}
    

.thunder .thunder_banner{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background: url('../assets/detail.thunder.png');
}

.thunder .thunder_banner .content2 {
    height: 80%;
    max-width: 100vw;
    width: 75vw;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    background-position: center;
    box-shadow: 0px 5px 30px 3px rgb(10, 10, 10);
    background-image: url('../assets/thunder_box.png');
}

.thunder .btn2 {
    max-width: 100px;
    max-height: 100px;
    width: 10vw;
    height: 10vw;
    border-radius: 100px;
    background-color: #A4E22B;
    transition: 1.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 60px;
    top: 70vh ;
    transform: rotate(135deg);
    
}

.main .btn2 img{
    width: 50%;
    height: 50%;
}

.thunder .thunder_box1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.thunder .thunder_box1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* max-width: 1400px; */
    width: 90%;
    height: 100vh;
}

.thunder .number{
    font-size: 12vw;
    font-style: oblique;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color: #A4E22B;
}

.thunder .project_about{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thunder .project_about li{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.thunder .project_about li span{
    margin: 10px 0;
    font-weight: 600;
    font-size: 1.5vw;
}

.thunder .project_about li h3{
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: #A4E22B;
    font-size: 1.5vw;
}


.thunder .thunder_box2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 37vw;
    background-color: rgb(170, 123, 123);
    box-shadow:inset 0px 0px 5px 1px rgb(190, 190, 190);
    background: url('../assets/thunder_img1.png') no-repeat center center / contain;
}
.thunder .thunder_box3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    flex-direction: column;
}

.thunder .thunder_box3 img{
    margin: 50px 0;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0px 2px 10px 1px rgb(190, 190, 190);
}

.thunder .thunder_box4 {
    width: 100%;
    padding: 200px 0;
    background: #fcfcfc;
}

.thunder .thunder_box4 > div{
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw;
}


.thunder .thunder_box4 img {
    box-shadow: 0px 2px 20px 1px rgb(190, 190, 190);
    border-radius: 10px;
    max-width: 400px;
    width: 30%;
}





/* 툴 */

.thunder .thunder_method{
    width: 100%;
    padding: 10% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0px 0px 5px 1px rgb(190, 190, 190);

}

.thunder .method_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    gap:70px
}

.thunder .method_box > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0;
}

.thunder .method_box h2{
    margin-bottom: 80px;
    font-size: 3vw;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    color: #A4E22B;
}

.thunder .method_box .img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4vw;

}

.thunder .method_box .img img{
    width: 100px;
}

.thunder .method_box .img div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width: 768px){

    
    /* 툴 */
    .thunder .method_box h2{
        font-size: 5vw;
    }


    .thunder .thunder_banner{
        padding: 0 3%;
    }


    .thunder .btn2 {
        width: 15.5vw;
        height: 15.5vw;
        right: 3vw;
        top: 80vh;
    }

    .thunder .project_about{
        justify-content: space-around;
    }

    .thunder .project_about li{
        width: 50%;
        height: 130px;
        text-align: center;
        justify-content: start;
    }

    .thunder .project_about li span{
        font-size: 4vw;
    }
    
    .thunder .project_about li h3{
        font-size: 4vw;
    }

    .thunder .thunder_box2{
        height: 180vh;
        background: url('../assets/thunder_img_m1.png') no-repeat center center / cover;
    }
}

@media screen and (max-width: 468px){
    .thunder .thunder_banner .content2 {
        height: 90%;
        background-image: url('../assets/thunder_box_m.png');
    }
}