
.about{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    transition: 1.2s;
    z-index: -2;
    opacity: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.about::-webkit-scrollbar {
    display: none;
}
    

.about .about_contetns{
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .contents{
    width: 90%;
}

.about .link_box a{
    cursor: none;
}

.about.aboutOn{
    position: absolute;
    top: 0;
    z-index: 100;
    opacity: 1;
}

.about .about_content1{
    width: 90%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10vh 0;
}



.about h2{
    position: fixed;
    top: 5vh;
    left: 5vw;
    color: #fff;
    font-size: 5vw;
    font-weight: 400;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    color: #000;
    transform: rotate(-7deg);
    z-index: 10;
}

.about .my_img{
    width: 25%;
}

.about .my_img img {
    width: 100%;
}

.about .my_info{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vw;
}

.about .my_info > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about .my_info h4{
    font-size: 2vw;
    font-weight: 600;
}

.about .my_info span{
    font-size: 1.5vw;
}


.about .about_content2{
    width: 100%;
    background-color: #fff;
    color: #000;
    padding: 2% 5%;
}

.about .about_content2 h3{
    font-size: 30px;
    margin: 30px  0;
}

.about .img_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.about .img_box > div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.about .img_box .img_wrap{
    width: 150px;
    height: 150px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .img_box img{
    width: 100px;

}

@media screen and (min-width: 1700px){
    .about .my_info h4{
        font-size: 2vw;
    }
    
    .about .my_info span{
        font-size: 1.5vw;
    }
}


@media screen and (max-width: 800px){
    .about .about_content1{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        flex-wrap: nowrap;
    }

    .about .about_content1 .my_img{
        width: 40%;
        margin-bottom: 60px;
    }
    .about .about_content1 .my_info{
        width: 80%;
    }

    .about .my_info h4{
        font-size: 4vw;
    }
    
    .about .my_info span{
        font-size: 3vw;
    }
 
}

@media screen and (max-width: 768px){
    .about{
    }
}

@media screen and (max-width: 468px){
    .about .my_info h4{
        font-size: 5vw;
    }
    
    .about .my_info span{
        font-size: 4vw;
    }
}

