body {
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  box-sizing: border-box;
}

.main .outer {
  height: 100vh;
  overflow-y: auto;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main .content {
  width: 80%;
  height: 70%;
  background-color: cadetblue;
}

/* 화면에서 스크롤바 안보이게 */
.main .outer::-webkit-scrollbar {
  display: none;
}

.main .inner {
  /* width: 1300px; */
  max-width: 75%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: chartreuse;
}



/* dots */

.main .works{
  width: 15vw;
  min-height: 200px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0,-50%);
}

.main .work{
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main .work_title{
  font-weight: normal;
  font-size: 25px;
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .work:hover .work_title{
  font-size: 35px;
}

.main .control-dots{
  display: none;
}

