body {
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  box-sizing: border-box;
}

.main .outer {
  height: 100vh;
  overflow-y: auto;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main .content {
  width: 80%;
  height: 70%;
  background-color: cadetblue;
}

/* 화면에서 스크롤바 안보이게 */
.main .outer::-webkit-scrollbar {
  display: none;
}

.main .inner {
  /* width: 1300px; */
  max-width: 75%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  background-color: chartreuse;
}


.main .divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}